.body
{
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-y: scroll;
  position: relative;
}

.navigation
{
  position : sticky;
  width : 100%;
  background-color: white;
  top : 0;
}

.nav-container
{
  padding : 0 20px;
  display : flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-element
{
  margin : 10px;
}

.nav-button
{
  background-color: white;
  border-radius: 50%;
  border: none;
  padding : inherit;
}

.logo-container
{
  margin : 0;
  padding : 0;
  display : flex;
}
.logo
{
  height : 3rem;
  vertical-align: middle;
}
.home-button-container
{
  margin-left: 2%;
}
.Home
{
  background-color: black;
  color : white;
  border-radius: 2.6rem;
  border : none;
  font-size : 1.3rem;
  padding : 13px;
}
.Home:hover
{
  opacity : 0.8;
}
.Today
{
  background-color: white;
  color : black;
  border : none;
  border-radius: 2.6rem;
  font-size : 1.3rem;
  padding : 13px;
}
.Create-button
{
  text-decoration: none;
  color : black;
  font-family: sans-serif;
  font-size : 1.3rem;
  display : inline-block;
}
.Create-icon
{
  display : inline-block;
  height : 1rem;
}
.search-bar-container
{
  flex-grow: 1;
  background-color: lightgrey;
  border-radius: 4rem;
  display : flex;
  align-items: center;
}
.Search-icon
{
    display : inline-block;
    width : 1rem;
    margin-left: 12px;
    vertical-align: middle;
}
.Search-box
{
  height : 2.5rem;
  font-size : 1.3rem;
  color : grey;
  background-color: lightgrey;
  border: none;
  margin-left: 8px;
}
.search-bar-container:hover
{
  opacity : 0.9;
}

.notification-icon
{
  height : 2rem;
}
.Notification-button:hover
{
  background-color: lightgrey;
}
.chat-icon
{
  height : 2rem;
}
.chat-button:hover
{
  background-color : lightgrey;
}
.profile-icon
{
  height : 2rem;
}
.profile-button:hover
{
  background-color : lightgrey;
}
.more-options-button-container
{
  align-self: stretch;
  display: flex;
  align-items: center;
}
.More-options-button
{
  background-color : white;
  height : 3rem;
  width : 3rem;
}
.More-options-button:hover
{
  background-color: lightgrey;
}
.down-arrow-icon
{
  display : inline-block;
  height : 1rem;
  vertical-align: middle;
}
.home-feed-container
{
  background-color : white;
  width : 100%;
}
.feed
{
  max-width : 100vw;
  display :grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  grid-auto-rows : 7rem;
  grid-gap: 15px;
  grid-auto-flow: dense;
  justify-content : center;
}

.feed-post
{
  display : grid;
  border : 0;
  height : auto;
  max-height : 100%;
  width : 100%;
  border-radius: 1rem;
}
.feed-post:hover
{
  filter: brightness(0.5);
}

.vertical
{
  grid-column: span 1;
  grid-row : span 2;
}
.horizontal
{
  grid-column : span 3;
  grid-row : span 2;
}
.big
{
  grid-column : span 2;
  grid-row : span 2;
}

