.navigation
{
  background-color: white;
  height : 10%;
}

.top-section
{
  background-color : black;
}

.section-1
{
  background-color : red;
}

.section-2
{
  background-color: white;
}

.section-3
{
  background-color: red;
}

.sign-in-section
{
  background-color : black;
}
